@model List<Planet>

@foreach( var c in ViewBag.CrabBag)
{
    <div class="card">
        <div class="card-header">@c.Name</div>
        <div class="card-body">
            <p>Weapon: @c.Weapon</p>
            <p>SpaceCraft: @c.SpaceCraft</p>
            <ul class="list-group list-group-flush">
                @foreach( var t in c.Trips )
                {
                    <li class="list-group-item" >@t.Vacation.Name</li>
                }
            </ul>
        </div>
        <div class="card-footer">
            <h3>Add Trip</h3>
            <form  action="/trip/@c.CrabId" method="post">
                <select class="form-control" name="planetId">
                    @foreach(var p in ViewBag.Planets)
                    {
                        bool hasGone = false;
                        foreach(var t in c.Trips)
                        {
                            if(t.PlanetId == p.PlanetId)
                            {
                                hasGone = true;
                            }
                        }
                        if(!hasGone)
                        {
                            <option  value="@p.PlanetId">@p.Name</option>

                        }
                    }
                </select>
                <input type="submit"  value="Get Trippin'" class="btn btn-danger">
            </form>
        </div>
    </div>

}